* {
    margin: 0px;
    padding: 0px;
}

.card, #iptNewJobGroup, #btnNewJobGroup, ul, .iptNewJob, .btnNewJob, .btnEditJob, .btnDeleteJob {
    box-shadow: 0px 3px 8px 0px #0000007d;
    transition: 0.2s;
}

.card:hover, #iptNewJobGroup:hover, #btnNewJobGroup:hover,.iptNewJob:hover, .btnNewJob:hover,.btnEditJob:hover, .btnDeleteJob:hover, ul li:hover {
    box-shadow: 0px 3px 8px 2px #0000007d;
    transition: 0.2s;
}

.bg-success {
    background-color: #4CAF50!important;
}

.groupJobGroupName {
    position: relative;
    height: 50px;
}

.btnDeleteJobGroup {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    background-color: transparent;
    right: 0px;
    border: 0px;
    padding: 0px;
    color: white;
}

.btnDeleteJobGroup:focus {
    box-shadow: none!important;
}

.subject {
    border: 0;
    font-size: 2rem;
    width: 100%;
    position: absolute;
    cursor: pointer;
}

.subject:focus {
    outline: none;
    cursor: text;
}

ul.list-group li:not(:last-child) {
    border-bottom: 1px solid #a9a9a92b;
}

ul li .jobText {
    cursor: default;
}

ul li input[type="checkbox"] {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

li.bg-success .jobText {
    color: white;
}

.btnEditJob, .btnDeleteJob {
    margin: 1px;
    width: 40px;
    height: 40px;
    text-align: center;
    align-content: center;
}

#editJobName {
    width: 100%;
    height: 120px;
    border: 1px solid #a9a9a92b;
    outline-color: #a9a9a92b;
}

@media (min-width: 576px) and (max-width: 999.98px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        column-gap: 5px
    }
}

@media (min-width: 1000px) and (max-width: 1199.98px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        column-gap: 2px
    }
}

@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
        column-gap: 2px
    }
}